In [1]:
# import all the libraries
import numpy as np
import pandas as pd

In [2]:
# Load the data
df=pd.read_excel("sample.xlsx") #csv
print(df.head())

   Customer Code        Customer Name Customer Social Class  \
0       15637634                Mo?se              Ordinary
1       63217102               NZAMBE              Ordinary
2       17753781  milemba Ilunga jeff              Ordinary
3       13911112              Fabrice              Ordinary
4       85836298        Kwilu Jacques              Ordinary

   Customer Longitude  Latitude Client  Visiting Record Mobile Phone  \
0                 NaN              NaN            False   0896219721
1                 NaN              NaN            False   0819999999
2                 NaN              NaN            False   0840970557
3                 NaN              NaN            False   0974448599
4                 NaN              NaN            False   0814737951

     RANDOM  EasyPay Number          Sale Area  ... Last Open Date  \
0  0.878957    9.285016e+13  KINSHASA/MONTAMBA  ...            NaN
1  0.331696    9.285063e+13   KINSHASA/TSHANGU  ...            NaN
2  0.472636    9.285018e+13             KAMINA  ...            NaN
3  0.116404    9.285014e+13         LUBUMBASHI  ...            NaN
4  0.471013    9.285086e+13             KIKWIT  ...            NaN

  Basic Offer Name Outside Display Name  Total Online Days Total Stop Days  \
0      DTT_Classic          DTT_Classic                 30              36
1          DTH_MAX              DTH_MAX                 30              36
2          DTH_MAX              DTH_MAX                 30              36
3      DTT_Classic          DTT_Classic                 30              36
4          DTH_MAX              DTH_MAX                 30              36

             Price Plan Subscriber Agreement Type   Business Name  \
0  DTT_Classic(28000FC)                    Normal  Digit Business
1      DTH_MAX(42000FC)                    Normal  Digit Business
2      DTH_MAX(42000FC)                    Normal  Digit Business
3  DTT_Classic(28000FC)                    Normal  Digit Business
4      DTH_MAX(42000FC)                    Normal  Digit Business

  Expiration Date           Order Date
0      2022-04-05  2022-03-07 21:13:52
1      2022-04-05  2022-03-07 20:15:52
2      2022-04-05  2022-03-07 19:50:36
3      2022-04-05  2022-03-07 19:36:07
4      2022-04-05  2022-03-07 18:57:47

[5 rows x 29 columns]

In [3]:
# Columns description
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 29 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Customer Code                       9000 non-null   int64
 1   Customer Name                       9000 non-null   object
 2   Customer Social Class               9000 non-null   object
 3   Customer Longitude                  44 non-null     float64
 4   Latitude Client                     44 non-null     float64
 5   Visiting Record                     9000 non-null   bool
 6   Mobile Phone                        9000 non-null   object
 7   RANDOM                              9000 non-null   float64
 8   EasyPay Number                      6667 non-null   float64
 9   Sale Area                           9000 non-null   object
 10  Contact Address                     8994 non-null   object
 11  Subscriber Type                     9000 non-null   object
 12  Subscriber Status                   9000 non-null   object
 13  Service Number                      9000 non-null   int64
 14  Main Resource Specification         9000 non-null   object
 15  STB Code                            5660 non-null   object
 16  Subsidiary Resource  Specification  5660 non-null   object
 17  Open Subscriber Date                9000 non-null   object
 18  Last Stop Date                      9000 non-null   object
 19  Last Open Date                      8100 non-null   object
 20  Basic Offer Name                    9000 non-null   object
 21  Outside Display Name                9000 non-null   object
 22  Total Online Days                   9000 non-null   int64
 23  Total Stop Days                     9000 non-null   int64
 24  Price Plan                          9000 non-null   object
 25  Subscriber Agreement Type           9000 non-null   object
 26  Business Name                       9000 non-null   object
 27  Expiration Date                     9000 non-null   object
 28  Order Date                          9000 non-null   object
dtypes: bool(1), float64(4), int64(4), object(20)
memory usage: 1.9+ MB

In [4]:
# drop Customer Longitude    and Latitude Client and asyPay Number and Visiting Record and RANDOM   
#Contact Address  because is too specific and it is explained with sale area
#Subscriber Type  because is explained by suscriiber status
#STB Code and Subsidiary resource specification will be droped because they are only for a specific device "T2+S2"
#Outside Display Name to be droped as it says the same thing of Basic Offer Name
# drop  Business Name  because is always just 1 value

In [5]:
df=df.drop(['Customer Longitude','Latitude Client','EasyPay Number','Visiting Record','RANDOM','Contact Address','Subscriber Type','STB Code','Subsidiary Resource  Specification','Outside Display Name','Business Name'],axis=1)
print(df)

      Customer Code            Customer Name Customer Social Class  \
0          15637634                    Mo?se              Ordinary
1          63217102                   NZAMBE              Ordinary
2          17753781      milemba Ilunga jeff              Ordinary
3          13911112                  Fabrice              Ordinary
4          85836298            Kwilu Jacques              Ordinary
...             ...                      ...                   ...
8995           5706          ROSETTE MWAYUMA              Ordinary
8996           4383   ZUMBU DINKATU ZEPHYRIN              Ordinary
8997           3053        EVARISTE LUMANISA              Ordinary
8998           2056       MATA KIMBEME HENRY              Ordinary
8999           1729  KIATOKO MAMPUYA CRISPIN                  airs

     Mobile Phone          Sale Area Subscriber Status  Service Number  \
0      0896219721  KINSHASA/MONTAMBA       Punish Stop      2721708575
1      0819999999   KINSHASA/TSHANGU       Punish Stop      2577821308
2      0840970557             KAMINA       Punish Stop      2148580559
3      0974448599         LUBUMBASHI       Punish Stop      2586653305
4      0814737951             KIKWIT       Punish Stop      2148577961
...           ...                ...               ...             ...
8995   0852486470           KINSHASA       Punish Stop      2113407278
8996   0815044943           KINSHASA       Punish Stop      2113405613
8997   0896086982           KINSHASA       Punish Stop      2113403670
8998   0814529903           KINSHASA       Punish Stop      2113402906
8999   0998842431      KINSHASA/FUNA       Punish Stop      2113402727

     Main Resource Specification Open Subscriber Date Last Stop Date  \
0              Decoder T2 PTV CA  2022-03-07 21:13:52     2022-04-06
1              Decoder S2 PTV CA  2022-03-07 20:15:52     2022-04-06
2               Smart Card T2+S2  2022-03-07 19:50:36     2022-04-06
3              Decoder T2 PTV CA  2022-03-07 19:36:07     2022-04-06
4               Smart Card T2+S2  2022-03-07 18:57:47     2022-04-06
...                          ...                  ...            ...
8995               Smart Card T2  2013-08-29 13:02:40     2022-04-04
8996               Smart Card T2  2013-08-22 11:47:43     2022-03-27
8997               Smart Card T2  2013-08-15 10:58:23     2022-03-23
8998               Smart Card T2  2013-08-10 11:58:33     2022-04-05
8999               Smart Card T2  2013-08-09 09:46:42     2022-04-03

     Last Open Date Basic Offer Name  Total Online Days  Total Stop Days  \
0               NaN      DTT_Classic                 30               36
1               NaN          DTH_MAX                 30               36
2               NaN          DTH_MAX                 30               36
3               NaN      DTT_Classic                 30               36
4               NaN          DTH_MAX                 30               36
...             ...              ...                ...              ...
8995     2022-03-05      DTT_Classic                752              400
8996     2022-02-25        DTT_Basic                373             2153
8997     2022-03-22      DTT_Classic                  1             2471
8998     2022-03-06        DTT_Basic                168             1023
8999     2022-03-04        DTT_Basic                997              152

                Price Plan Subscriber Agreement Type Expiration Date  \
0     DTT_Classic(28000FC)                    Normal      2022-04-05
1         DTH_MAX(42000FC)                    Normal      2022-04-05
2         DTH_MAX(42000FC)                    Normal      2022-04-05
3     DTT_Classic(28000FC)                    Normal      2022-04-05
4         DTH_MAX(42000FC)                    Normal      2022-04-05
...                    ...                       ...             ...
8995  DTT_Classic(28000FC)                    Normal      2022-04-03
8996    DTT_Basic(14000FC)                    Normal      2022-03-26
8997  DTT_Classic(28000FC)                    Normal      2022-03-22
8998    DTT_Basic(14000FC)                    Normal      2022-04-04
8999    DTT_Basic(14000FC)                    Normal      2022-04-02

               Order Date
0     2022-03-07 21:13:52
1     2022-03-07 20:15:52
2     2022-03-07 19:50:36
3     2022-03-07 19:36:07
4     2022-03-07 18:57:47
...                   ...
8995  2021-07-07 08:28:50
8996  2021-07-08 02:24:30
8997  2022-03-22 22:41:14
8998  2022-01-03 16:16:20
8999  2021-08-03 11:43:54

[9000 rows x 18 columns]

In [6]:
# format the date so DD-MM-YY without time
# format Price Plan so we can have only the price value
# all the numeric columns in the same format

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer Code                9000 non-null   int64
 1   Customer Name                9000 non-null   object
 2   Customer Social Class        9000 non-null   object
 3   Mobile Phone                 9000 non-null   object
 4   Sale Area                    9000 non-null   object
 5   Subscriber Status            9000 non-null   object
 6   Service Number               9000 non-null   int64
 7   Main Resource Specification  9000 non-null   object
 8   Open Subscriber Date         9000 non-null   object
 9   Last Stop Date               9000 non-null   object
 10  Last Open Date               8100 non-null   object
 11  Basic Offer Name             9000 non-null   object
 12  Total Online Days            9000 non-null   int64
 13  Total Stop Days              9000 non-null   int64
 14  Price Plan                   9000 non-null   object
 15  Subscriber Agreement Type    9000 non-null   object
 16  Expiration Date              9000 non-null   object
 17  Order Date                   9000 non-null   object
dtypes: int64(4), object(14)
memory usage: 1.2+ MB

In [ ]:
 # to be defined Last Stop Date and Last Open Date

In [ ]:
#Format: Paola

#description of each column: Dylan
#difference between Last Stop Date   and   Last Open Date? Dylan

# 1. univariate: Basic Offer Name pie chart, Customer Social Class, Subscriber Status, Main Resource Specification, Basic Offer Name, Total Online Days, Total Stop Days  
# heatmap for sale area: Dylan
# 2. multivariate: correlation, violin plot, combination of 2 or more variables